h1 {
    font-size: 26px;
    line-height: 1.5;
  }
  h2 {
    font-size: 24px;
    line-height: 1.5;
  }
  h3 {
    font-size: 18px;
    font-weight: bold;
  }
  
  p,
  label {
    font-size: 14px;
    line-height: 1.6;
  }
  
  small {
    font-size: 14px;
    line-height: 1.6;
  }
  label {
    font-weight: bold;
  }
  
  @media (min-width: 750px) {
    h1 {
      font-size: 36px;
      font-weight: bold;
    }
  
    h2 {
      font-size: 24px;
      font-weight: bold;
    }
  
    h3 {
      font-size: 18px;
      font-weight: bold;
    }
  
    p {
      font-size: 18px;
      font-weight: normal;
    }
  }